@font-face{
    font-family: Comfortaa;
    src: url(./Comfortaa-Regular.ttf);
}


.button{
    font-size: 70%;
    background-color: rgba(0, 0, 0, 0.29);
}

.button:Hover{
    background-color: rgba(0, 0, 0, 0.19);
}

body{
    font-family: Comfortaa;
}

#head{
    text-align: center;
}

#head{
    background-color: rgba(0, 0, 0, 0.10);
}

#diceCon{
    text-align: center;
}


#hearts{
    background-color: rgba(0, 0, 0, 0.10);
}

#statBar{
    background-color: rgba(0, 0, 0, 0.10);
}

.heart{
    height: 1%;
}

.headerIcon {
    border-right: solid thin black;
}

#health{
    text-align: center;
}

#statistics{
    border-bottom: solid thin rgba(0, 0, 0, 0.20);
}

#nameBox{
    height: 2px;
}

.perkStats{
    background-color: rgba(0, 0, 0, 0.10);
    border-right: solid thin black;
}

.perkStat{
    background-color: rgba(0, 0, 0, 0.10);
}

#info{
    text-align: center;
}

#cardText{
    text-align: center;
}

#denizen{
    background-color: rgba(0, 0, 0, 0.10);
}

#denizenHead{
    text-align: center;
}

.denButtons{
    font-size: 50%;
}

/* Desktop */
@media screen and (min-width: 769px){
    body{
        padding: 2%;
        font-size: 1.6em
    }

    #headertext{
        font-size: 2em; 
    }

    .heart{
        text-align: center;
        max-width: 2em;
    }

    #hearts{
        max-width: 40%;
        border-bottom: solid thin black;
    }
}

/* Tablet */
@media screen and (min-width: 426px) and (max-width: 768px){

}